.search-select-menu-item {
  text-transform: capitalize;
}

.search-select {
  text-transform: capitalize;
}

.search-select .search-select-icon {
  color: #ff4f4f;
}

.search-icon:hover {
  cursor: pointer;
}
